<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>{{ person.username }}의 프로필</h1>
  <div>
    팔로잉 : {{person.followings.all|length}} / 팔로워 : {{person.followers.all|length}}
  </div>

{% comment %} 나와 다른 사람이면 이거 보이게 {% endcomment %}
{% if request.user != person %}
  <div>
    <form action="{% url "accounts:follow" person.pk %}" method="POST">
      {% csrf_token %}
      {% if request.user in person.followers.all %}
        <input type="submit" value="언팔로우">
      {% else %}
        <input type="submit" value="팔로우">
      {% endif %}
    </form>
  </div>
{% endif %}

  {% comment %} 유저가 작성한 게시글 (1:N에서 역참조) {% endcomment %}
  <h2>{{ person.username }}의 게시글</h2>
  {% for article in person.article_set.all %}
    <p>{{ article }}</p>
  {% endfor %}
  
  {% comment %} 유저가 작성한 댓글 (역참조) {% endcomment %}
  <h2>{{ person.username }}의 댓글</h2>
  {% for content in person.comment_set.all %}
    <p>{{ comment }}</p>
  {% endfor %}

  {% comment %} 유저가 좋아요한 게시글 (역참조) {% endcomment %}
  <h2>{{ person.username }}가 좋아요한 게시글</h2>
  {% for article in person.like_articles.all %}
    <p>{{ article }}</p>
  {% endfor %}
</body>
</html>